*{
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
    color: #1D2E33;
}
#header{
    background-color: #97759E;
    padding: 20px;
}
#home{
    background-color: rgb(117, 150, 159);
    padding: 0 50px;
}
#navbar{
    height: 100%;
    width: 100%;
}
#about-me{
    padding: 20px 100px;
    background-color: #9E8975;
    text-align: center;
}
.nav-button{
    padding: 20px;
}
.nav-button:hover{
    background-color: #8D9E75;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-column{
    flex-direction: column;
}
.nostyle{
    text-decoration: none;
    list-style: none;
}
#img1{
    width: 100%;
    max-width: 600px;
}
#img2{
    height: 100px;
    object-fit:fill;
    padding: 0;
}
#grid-box1{
    border: solid brown 5px;
    background-size: cover;
}
#character{
    border: solid brown 3px;
    border-radius: 10px;
}
#grid-box1 > *{
    border: solid brown 5px;
    margin:5px
}
h1{
    font-size: 2rem;
    padding: 1rem 0;
}
h2{
    letter-spacing: 5px;
}
.letter-spacing1{
    letter-spacing: 5px;
}
.grid{
    display: grid;
    grid-template: 0.5fr 1fr repeat(5,0.5fr)/repeat(3, 1fr); 
}
.span1{
    grid-column: 2/4;
}
.span2{
    grid-column: 1/4;
}
.padding1{
    padding: 5px;
}
.border-radius1
@media (max-width: 540px) {
    #navbar{
        display: flex;
        flex-direction: column;
    }
}
